#coinLogo {
justify-content: center;
margin-left: 43%;
margin-bottom: 7%;
}

#coinDetailHeader {
    margin-bottom: 5%;
    color: red;
    justify-content: center;
    margin-left: 43%;
    margin-top: 5%;
}

#coindDetailDescription {
    max-width: 70%;
    margin-left: 15%;
}

#coinMarketData {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: red;

}


.coinNews {
    margin-top: 10%;
    margin-bottom: 5%;
    color: red;



}

#coinnewsheader {
    animation: glow 0.8s ease-in-out infinite alternate;
    max-width: 15%;

}


#coinMarketDataHeader {
    color: red;
    animation: glow 0.8s ease-in-out infinite alternate;
    max-width: 15%;

}

@keyframes glow {
    from {
      text-shadow: 0 0 20px #ffffff;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #a3246a;
    }
  }


#backtocointablebutton {
    color: #ff5f1f;
  }
  #backtocointablebutton:hover {
    color: white;
    transition: background-color 0.2s ease;
    background-color: #ff5f1f;
    max-width: 5%;
    align-items: center;
  }


#addtowatchlistheader {
    margin-bottom: -4%;
    text-align: center;
    margin-top: 5%;
  
}


#addtowatchlistbutton:hover {
    background-color: white;
}

#watchlistSelect {
    margin-right: 5%;


    
}

#coindetailstitle {
    text-align: center;
}


#newsarticle {
    color: #ff5f1f;
}

#newslist {
    color: #ff5f1f;
}