

#blockchainLink {
    width: 100%; 
    height: auto;
    max-height: 800px;
    display: block; 
    margin: 0 auto; 
    text-align: center;
    margin-bottom: 20px; 
    margin-top: -10%;
  }
  
  #watchlistpageheader {
    text-align: center;
    font-size: 100px;
  }
  
  /* #watchlistcontainer {
    margin-bottom: 20%;
    margin-right: 10%;
  } */
  
  #watchlistcontainer {
    margin-bottom: 20%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    margin-left: 20%;
  }
  
  .watchlistbox {

    flex-basis: calc(33.33% - 20px); 
    margin-right: 20px; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
    /* margin-top: 10%; */
  }
  

  /* #backtocoinsbutton {
    color: #FF5F1F;
  } */
  
  #backtocoinsbutton {
    color: #ff5f1f;
    max-width: 5%;
  }
  #backtocoinsbutton:hover {
    color: white;
    transition: background-color 0.2s ease;
    background-color: #ff5f1f;
    max-width: 5%;
    align-items: center;
  }