

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .knowledge-component {
    margin-bottom: 30px;
    max-width: 600px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .knowledge-component h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .knowledge-component p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .knowledge-component p:last-child {
    margin-bottom: 0;
  }


  
  .knowledge-component__title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .knowledge-component__content {
    margin-top: 10px;
  }
  

#knowledge-section .step {
    margin-bottom: 1.5rem;
  }
  
  #knowledge-section .step-number {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  #knowledge-section .step-content {
    margin-left: 2rem;
  }

#knowledge-section h2 {
    margin-top: 2rem;
  }
  
  #knowledge-section ol {
    margin-left: 2rem;
  }
  
  #knowledge-section ol li {
    margin-bottom: 1.5rem;
  }
  
  #knowledge-section p {
    margin-bottom: 1.5rem;
  }
  
  .headerImage{
    width: 100%;
    height: 30%;
    height: 600px;
    margin-bottom: -10%;

  }

  


#topic-1 {
  display: inline-block;
  vertical-align: top;
    color: rgb(255, 5, 5);
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    height: 100%;
  }


  

#topic-2 {
  display: inline-block;
  vertical-align: top;
    color: rgb(255, 5, 5);
    margin-top: 10%;
    margin-right: 5%;
    /* margin-left: -10%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    height: 100%;
  
  }


  /* #topic-1,
#topic-2 {
  display: inline-block;
  vertical-align: top;
  width: 70%; 
  margin-left: 10%;
  margin-right: -3%;
  
} */
#topic-3 {
  margin-left: 5%;
}

#topic-3,
#topic-4,
#topic-5 {
  color: rgb(255, 5, 5);
  display: inline-block;
  vertical-align: top;
  width: 30%; 
  margin: 10px;

  
}

.imageDiv {
  display: inline-block;
  vertical-align: top;
  width: 50%; 
  margin: 10px;
  margin-left: 10%;
  margin-right: -3%;
  /* margin-top: -20%; */
  
}

.defi {
  display: inline-block;
  margin-top: -155%;
  vertical-align: top;
  max-width: 50%;
  margin-left: -15%;
}
.dapps {
  display: inline-block;
  margin-top: -160%;
  margin-left: 120%;
  vertical-align: top;
  max-width: 50%;
}

  