* {
  background-color: #070c32;
  color: #ff5f1f;
}

.navbar {
  background-color: #070c32;
  width: 100%;
  color: goldenrod;
  background: transparent;
}

#navbarLogo {
  font-size: 50px;
  margin-right: 10%;
  z-index: 999;

  color: #ff5f1f;

  text-transform: uppercase;
  left: 0;
  top: 0;
  margin-left: -8%;
  margin-top: -8%;
  animation: glow 0.8s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #ffffff;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #a3246a;
  }
}

#responsive-navbar-nav {
  justify-content: flex-end;
  color: goldenrod;
}

.nav-link {
  font-size: 15px;
  color: goldenrod;
  text-transform: uppercase;
  margin-right: 5px;
}
#navbarLinks {
  font-size: 20px;
  z-index: 999;
  background-size: cover;
  color: goldenrod;
  background-clip: initial;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  margin-left: 5%;
}

#navbarLinksWatchlist {
  margin-right: -10%;
  color: goldenrod;
  margin-left: 20%;
  font-size: 15px;
}
#navbarLinksKnowledge {
  color: goldenrod;
  margin-left: 10%;
  font-size: 15px;
}
#navbarLinksLatestNews {
  color: goldenrod;
  font-size: 15px;
}
#navbarLinksLogout {
  color: goldenrod;
  font-size: 15px;
}
#searchbar {
  margin-right: 5%;
}

#search-bar {
  color: goldenrod;
  z-index: 999;
  margin-top: 50%;
}

#marketnavbar {
  margin-left: 15%;
}

.nav-link {
  color: red;
  font-size: 15px;
  margin-right: 5px;
}

.ml-auto {
  color: goldenrod;
}

#responsive-navbar-nav {
  color: goldenrod;
}

.container {
  background-color: #070c32;
}
