

* {
  background-color: #020202;
  color: white;
}

 .navbar {
  background-color: #020202;
  width: 100%;
}
/* 
#navbarLogo {

  

  
  font-size: 50px;
  margin-right: 10%;
  z-index: 999;
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  background-clip: initial;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color : transparent;
  text-transform: uppercase; 
 
} */

#navbarLogo {
  font-size: 50px;
  margin-right: 10%;
  z-index: 999;
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  background-clip: initial;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  left: 0;
  top: 0;
  margin-left: -8%;
}

/* Update the styles for the navbar links */
#responsive-navbar-nav {
  justify-content: flex-end; /* Align links to the right */
}

.nav-link {
  font-size: 15px;
  color: red;
  text-transform: uppercase;
  margin-right: 5px; /* Add some space between the links */
}
#navbarLinks {
  font-size: 20px;
  z-index: 999;
  background-size: cover;
  color: white;
  background-clip: initial;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  margin-left: 5%;
  
  
}

#navbarLinksWatchlist {
  margin-right: -10%;
  color: red;
  margin-left: 20%;
  font-size: 15px;
}
#navbarLinksKnowledge {
  color: red;
  margin-left: 10%;
  font-size: 15px;

}
#navbarLinksLatestNews {
  color: red;
  /* margin-left: 10%; */
  font-size: 15px;

}
#navbarLinksLogout {
  color: red;
  font-size: 15px;


}
#searchbar {
  margin-right: 5%;
}

#search-bar {
  color: red;
  z-index: 999;
  margin-top: 5%;
} 
 
#marketnavbar {
  margin-left: 15%;
  /* color: red; */
}

/* #watchlistnavbar {
  margin-left: 15%;
  color: red;
}  */

.nav-link {
  color: red;
  font-size: 15px;
  margin-right: 5px;
}