   .latest-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 800px;
  }
  
  .carousel-slide {
    max-width: 600px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 0 auto 20px;
    animation: glow 2s infinite; 
    transition: box-shadow 0.3s ease-in-out; 
    box-shadow: 0 0 5px white; 
  }
  
  h3 {
    font-size: 18px;
    margin: 0;
  }
  
  p {
    margin: 5px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    display: block;
  }
  
  #latestnewheader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .carousel-navigation {
    margin-top: -2%;
    z-index: 999;
    margin-bottom: 10%;

  }
  
  .carousel-navigation button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
  }
  
  .carousel-navigation button:hover {
    text-decoration: underline;
  }

  .CryptoPanicWidget-header {
    color: green;
  }
  